html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: #367A2F;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color:#313630;
    padding: 10px 20px 0px;
    border: 0.1rem solid black ;
    
    
}
li{
    padding-bottom: 100px;
}
.menu a {
    text-decoration: none;
    color: white;
}
.header {
    background-color: #4DAD42;
    min-height: 150px;
}
.content {
    background-color:#6EFA5F;
    border: 0.1rem solid black; 
    min-height: 300px;
    padding: 41px;
}
.footer {
    background-color: #367A2F;
    min-height: 150px;
    color: white;
}